#sketchContainer{
    display:flex;
    flex-direction: column;
 
    align-self:center;
    justify-content:space-between;
    margin:0px;
    padding:0px;
    border: 1px solid black;
    width:960px;
    height:960px;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.row {
    display:flex;
    margin:0;
    padding:0;
}

.cell {
    flex: 1 1 0;
    margin:0px;
    padding:0px;
 
}

.activated {
    background-color:black;
    color:black;
}




.inputContainer {
    display:flex;
    flex-direction:column;
}

.dimensionContainer {
    gap: 8px;
    display:flex;
    justify-content:space-between;
}

#inputButton {
    align-self:center;
}
input {
    align-self:flex-end;
}